<img src="/assets/images/burger.png" alt="burger">

<h1>Track A Burger</h1>

<div class="container">
  <div class="row">
    <section class="tables col-sm-5">
      <ul class="not_Devoured">
        {{#each burgers}}
        {{#unless devoured}}
        <li>{{burger_name}}
          <button class="has-eaten" data-id="{{id}}" data-devoured="0">
            {{#if devoured}} IT WAS DELISH {{else}} READY TO EAT{{/if}}
          </button>
        </li>
        {{/unless}}
        {{/each}}
      </ul>
    </section>

    <section class=" col-sm-5">
      <ul class="devoured">
        {{#each burgers}}
        {{#if devoured}}
        <li>{{burger_name}}</li>
        {{/if}}
        {{/each}}
      </ul>
    </section>

  </div>
  <form id="create-burger col-sm-12">
    <article>
      <label for="bgrs">Enter a burger you want to eat and click "Submit" button.</label>
      <br>
      <input type="text" id="bgrs" name="burger_name">

      <br>
      <label for="devoured">Are you going to ear your burger now or later? </label>
      <br>
      <input type="radio" name="devoured" value="1" id="devoured"> Now <br>
      <input type="radio" name="devoured" value="0" id="notDevoured"> Later

      <br>

      <button type="submit" class="btn btn-light border">Submit</button>

    </article>



  </form>
</div>