<body>
  <h1>Track A Burger</h1>

  <table>
    <tr>
      <th>Burger Name</th>
      <th>Devoured</th>
    </tr>
    <tr>
      <th>
        <ul>
          {{#each burgers}}
          {{#unless devoured}}
          <li>
            {{burger_name}}
            <button class="change-devoured" data-id="{{id}}" data-devoured="{{devoured}}"> DEVOUR</button>
          </li>
          {{/unless}}
          {{/each}}
        </ul>
      </th>
      <th>
        <ul>
          {{#each burgers}}
          {{#if devoured}}
          {{burger_name}}
          {{/if}}
          {{/each}}
        </ul>
      </th>
    </tr>
  </table>

  <form id="create-form">
    <h2>Enter a burger you want to eat and click the "Submit" button.</h2>
    <div class="form-group">
      <label for="ca">Burger Name:</label>
      <input type="text" id="ca" name="name">
    </div>
    <button type="submit">Submit</button>

  </form>

</body>