<body>
  <h1>Track A Burger</h1>

  <table>
    <tr>
      <th>Burger Name</th>
      <th>Devoured</th>
    </tr>
    <tr>
      <th>
        <ul>
          {{#each burgers}}
          {{#unless devoured}}
          <li>
            {{> burgers/burger-block devour=true}}

          </li>
          {{/unless}}
          {{/each}}
        </ul>
      </th>
      <th>
        <ul>
          {{#each burgers}}
          {{#if devoured}}
          {{> burgers/burger-block devour=false}}
          {{/if}}
          {{/each}}
        </ul>
      </th>
    </tr>
  </table>

  <div class="col-4">
    <form class="create-form">

      <div class="form-group">
        <label for="bur">Burger Name:</label>
        <br>
        <input type="text" id="bur" name="burger_name">
      </div>

      <div class="form-group">
        <label for="dev">Eat it now?</label><br>
        <input type="radio" name="devoured" value="1" checked> Dig in!<br>
        <input type="radio" name="devoured" value="0"> Save it for later...
        <button type="submit">Add burger</button>
      </div>

    </form>
  </div>

</body>